body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 310px;
    background-color: #f0f8f5; /* 白に近い薄い黄緑 */
    color: #333;
}
h1 {
    text-align: center;
    color: #006400; /* ダークグリーン */
}
#credentialsList {
    margin-top: 20px;
}
.credential-item {
    background-color: #F5FFFA; /* MintCream */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #90EE90; /* LightGreen */
}
.credential-item p {
    margin: 5px 0;
}
.send-button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background-color: #9ACD32; /* YellowGreen */
}
.send-button:hover {
    background-color: #6B8E23; /* OliveDrab */
}
#clearAllButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: #FF6347; /* Tomato */
}
#clearAllButton:hover {
    background-color: #CD5C5C; /* IndianRed */
}
